# A3: Visualization for Exploratory Data Analysis

* [Exploratory real estate data analysis](#EDA)
* [Submission](#Submission)

## Objective

The main focus of [this course](https://courses.cs.sfu.ca/2022sp-cmpt-733-g1) is on data science. [Lecture 3](https://sfu-db.github.io/bigdata-cmpt733/Lectures/lec3.pdf) gave you an overview of Visualization. After completing this assignment, you should be able to confidently perform visual data analysis using Python and gain some experience with geospatial data.

As a motivating example of how visualization can bring data to life and clear up misconceptions, consider to watch [Hans Rosling's famous TED talks](https://www.ted.com/playlists/474/the_best_hans_rosling_talks_yo), e.g. "The best stat's you've ever seen" from 2006.

## Real Estate EDA

**Real estate data**

Imagine you are data scientist working at a real-estate company. In this week, your job is to analyze Vancouver housing prices. First, inspect the dataset provided in [property_tax_report_2021.zip](property_tax_report_2021.zip). The dataset contains information on properties from BC Assessment (BCA) and City sources in 2021.
You can find the schema information of the dataset from the [Vancouver Open Data Portal](https://opendata.vancouver.ca/explore/dataset/property-tax-report/information/).
Familiarize yourself with the context and background info on that page before diving deeper into Exploratory Data Analysis.

We first load the data as a DataFrame. To make this analysis more interesting, we will add two new columns to the data: `CURRENT_PRICE` represents the property price in 2021; `PREVIOUS_PRICE` represents the property price in 2020.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
def displaymd(mdstr):
    display(Markdown(mdstr))

OpenBLAS WARNING - could not determine the L2 cache size on this system, assuming 256k

In [2]:

# use this in case you have a hidpi display and figures appear blurry
#%config InlineBackend.figure_format = 'retina'

# before running this, unzip the provided data
df = pd.read_csv("property_tax_report_2021.csv", sep=';')

df['CURRENT_PRICE'] = df.apply(lambda x: x['CURRENT_LAND_VALUE']+x['CURRENT_IMPROVEMENT_VALUE'], axis = 1)

df['PREVIOUS_PRICE'] = df.apply(lambda x: x['PREVIOUS_LAND_VALUE']+x['PREVIOUS_IMPROVEMENT_VALUE'], axis = 1)

Now let's start the EDA process. 

**Hint.** For some of the following questions, we provided an example plot (see [link](https://rawgit.com/sfu-db/bigdata-cmpt733/master/Assignments/A3/A3-plots.html)). But note that you do not have to use the same plot design. In fact, we didn't do a good job to follow the *Principles of Visualization Design* in the second half of the slides of [Lecture 3](https://sfu-db.github.io/bigdata-cmpt733/Lectures/lec3.pdf), please review this part by yourself.
You should think about how to correct the bad designs in my plots.

### Question 1. Look at some example rows
Print the first five rows of the data:

In [3]:
# --- Write your code below ---
df.head(5)

,PID,LEGAL_TYPE,FOLIO,LAND_COORDINATE,ZONING_DISTRICT,ZONING_CLASSIFICATION,LOT,PLAN,BLOCK,DISTRICT_LOT,...,TAX_ASSESSMENT_YEAR,PREVIOUS_LAND_VALUE,PREVIOUS_IMPROVEMENT_VALUE,YEAR_BUILT,BIG_IMPROVEMENT_YEAR,TAX_LEVY,NEIGHBOURHOOD_CODE,REPORT_YEAR,CURRENT_PRICE,PREVIOUS_PRICE
0,002-582-759,STRATA,90717090036,9071709,CD-1 (94),Comprehensive Development,36,VAS452,NaN,526,...,2021.0,1015000.0,115000.0,1977.0,1977.0,3644.37,4,2021,1247000.0,1130000.0
1,010-772-278,LAND,692077380000,69207738,RS-1,One-Family Dwelling,22,VAP6923,511,526,...,2021.0,2759000.0,463000.0,1991.0,1991.0,12528.80,4,2021,3421000.0,3222000.0
2,009-746-986,LAND,79715270000,7971527,RS-1,One-Family Dwelling,8,VAP9119,560,526,...,2021.0,2958000.0,278000.0,1955.0,1975.0,11602.60,4,2021,3488000.0,3236000.0
3,008-199-809,LAND,742030860000,74203086,RS-5,One-Family Dwelling,12,VAP5959,18,2027,...,2021.0,3204000.0,521000.0,1989.0,1989.0,15046.20,3,2021,3920000.0,3725000.0
4,004-429-435,LAND,723032140000,72303214,RS-5,One-Family Dwelling,32,VAP4499,60,2027,...,2021.0,2720000.0,256000.0,1986.0,1986.0,11135.00,3,2021,3122000.0,2976000.0

### Question 2. Get summary statistics

From the above output, you will know that the data has 28 columns. Please use the describe() function to get the summary statistics of each column.
Also, to improve readability use a pandas [DataFrame Styler](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) to format the numbers without scientific notation (i.e. no floating point exponent).

In [4]:
# --- Write your code below ---
df.describe().style.format(precision=2)

Please look at the above output carefully, and make sure that you understand the meanings of each row (e.g., std, 25% percentile).

### Question 3. Examine missing values

Now we are going to perform EDA on a single column (i.e., univariate analysis). We chose `YEAR_BUILT`, which represents in which year a property was built.  We first check whether the column has any missing value.

In [5]:
# --- Write your code below ---
# Print the percentage of the rows whose YEAR_BUILT is missing.
print('Missing Value: {:.2%}'.format(df['YEAR_BUILT'].isna().mean()))

Missing Value: 4.35%

Missing values are very common in real-world datasets. In practice, you should always be aware of the impact of the missing values on your downstream analysis results.

### Question 4.  Plot a line chart

We now start investigating the values in the `YEAR_BUILT` column.  Suppose we want to know: "How many properties were built in each year (from 1990 to 2018)?" Please plot a line chart to answer the question.

In [ ]:
# --- Write your code below ---
data=df.query('YEAR_BUILT >= 1990 & YEAR_BUILT <= 2018')
data['YEAR_BUILT']=data['YEAR_BUILT'].astype(int)
data=data.groupby('YEAR_BUILT').size()
data.plot(kind='line', xticks=data.index, rot=90, style=['bs-'])

Please write down the **two** most interesting findings that you draw from the plot. For example, you can say: <font color='blue'>"Vancouver has about 6300 properties built in 1996 alone, which is more than any other year"</font>.

**Findings**
1. There is an upward trend followed from 1970-1994. Pre 1970's the trend seemed to be very stable with little or no variations.
2. There are considerable drop in number of properties built in 2001 and 2010 probably because of the global economic recession and housing bubble crisis in the USA

### Question 5. Plot a bar chart

Next, we want to find that, between 1900 and 2021, which years have the most number of properties been built? Plot a bar chart to show the top 20 years.

In [ ]:
# --- Write your code below ---
data = df[(df.YEAR_BUILT >= 1900)]
data = data.groupby('YEAR_BUILT').size()
data = data.sort_values(ascending= False).head(20)
data.index =data.index.map(int)
ax= data.plot(kind='bar', figsize= (len(data) *1.5,10), title = '20 Years', colormap = 'viridis')
ax.set_ylabel("# of properties")

Please write down the **two** most interesting findings that you draw from the plot. 

**Findings**
1. Althought we are analyzing last 108 years of data, 19 out of top 20 years falls between 1989 & 2013.
2. In the above figure, the average number of properties built per year is around 4400.

### Question 6. Plot a histogram

What's the distribution of the number of properties built between 1990 and 2020? Please plot a histogram to answer this question.

In [ ]:
# --- Write your code below ---
import matplotlib.pyplot as plt

data = df[(df.YEAR_BUILT >= 1900)]
data = data.groupby('YEAR_BUILT').size()
plt.hist(data, bins=48)
plt.ylabel('Frequency');
plt.xlabel('# of Properties');

Please write down the **two** most interesting findings that you draw from the plot. 

**Findings**
1. The most common number of properties built per year is around 1000
2. If we further subgroup and inspect closely, there are more years with number of properties built between (500 - 1000) than between (0- 500). (change bin size to 12)

### Question 7. Make a scatter plot

Suppose we are interested in those years which built more than 2000 properties. Make a scatter plot to examine whether there is a relationship between the number of built properties and the year?

In [ ]:
# --- Write your code below ---

import matplotlib.pyplot as plt

data = df[(df.YEAR_BUILT >= 1900)]
data = data.groupby('YEAR_BUILT').size()
data = data[data > 2000]
plt.scatter(data, data.index)
plt.ylabel('Year');
plt.xlabel('# of Properties');

Please write down the **two** most interesting findings that you draw from the plot. 

**Findings**
1. Most of the properties in Vancouver started building after '70s.
2. The 4 outliers are clearly visible; some early years around 1900's and around '95's when there were way more properties built than the usual average.

### Step 8. Obtain geographic coordinates for Canadian postal codes

The property data carries Canadian postal codes, but latitude/longitude coordinates would be much more useful. Unfortunately, geolocations of Canadian postal codes are protected by copyright and the information has to be purchased. Fortunately, you already paid for it with your tuition...

Statistics Canada has a protected dataset, the postal code conversion file, which is available to SFU students via the Abacus Dataverse. Please follow these steps:
* Have a valid SFU account (not sure if alumni account would work)
* Connect to the Abacus Data Network via https://databases.lib.sfu.ca/record/61245148090003610/Abacus-Data-Network
* Connecting via the above link should show you as logged in user at https://abacus-library-ubc-ca.proxy.lib.sfu.ca/
* Search for: **Postal Code Conversion File May 2021**
* Download files: **pccfNat_fccpNat_052021.txt** and the [2021 PCCF Guide .pdf](https://abacus.library.ubc.ca/file.xhtml?persistentId=hdl:11272.1/AB2/9J8YUH/WJHERN&version=1.0) and place them in the same folder as this notebook.

#### Details about the dataset in the 2021 PCCF Guide
* Description of available fields for each postal code, see Content section, pp. 9
* Offsets and Size of fields to extract from lines in Postal Code Conversion File, Table 4.1, p. 11.  
  This is also included along with this notebook as **pccf_record_layout.csv**

rldf = pd.read_csv('pccf_record_layout.csv')
# load the raw text pccf file
with open('pccfNat_fccpNat_052021.txt','r', encoding='latin-1') as fh:
    pctxt = fh.read()
pclines = pctxt.split('\n')
pclines = list(filter(lambda l: len(l), pclines)) # keep only non-empty lines
displaymd(f"Number of lines in PCCF: {len(pclines):,}")

The following extraction of substrings works, but is *very slow*. Please use [pandas string methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#string-methods) to make this faster.  
**TODO** write your improved code here.

In [ ]:
# TODO: rewrite this function to make it run in about a minute (or just maybe 17 sec)
def gen_pccf():
    def row_slice():
        for l in pclines:
            yield l[r['Position']-1:r['Position']+r['Size']-1]
    for idx, r in rldf.iterrows():
        print(idx, r['Field name'])
        yield r['Field name'], list(row_slice())
pccf_df = pd.DataFrame(dict(gen_pccf()))

In [ ]:
pccf_df['LAT'] = pccf_df['LAT'].astype(float)
pccf_df['LONG'] = pccf_df['LONG'].astype(float)
pccf_short = pccf_df[['Postal code', 'LONG', 'LAT', 'CSDname']]
pccf_short = pccf_short.groupby('Postal code').agg({'LONG':'mean','LAT':'mean','CSDname':'first'})

Phew, that was tedious! But now we're ready to merge geolocation to our property data.

In [ ]:
df['Postal code'] = df['PROPERTY_POSTAL_CODE'].str.replace(' ','')
dfgeo = df.merge(pccf_short, on='Postal code')

In [ ]:
# TODO remove the properties that are further north, outside Vancouver proper.
# Use a suitable visualiation to decide the right cutoff.

# --- write your code here ---
# dfgeo_van =

Feel free to use the function below to prepare a heatmap of averages. The code is based on [Matthew McGonagle's blog post](https://matthewmcgonagle.github.io/blog/2019/01/22/HeatmapBins).

In [ ]:
def heatmap_bins(data, fieldsxy, ncuts=30, aggarg='mean'):
    """Perform data.groupby using bin cuts along columns named in fieldsxy.
    Args:
        data     - pandas dataframe
        fieldsxy - list of column names along which to perform binned groupby
        ncuts    - number of cuts to perform for each field (see pd.cut)
        aggarg   - aggregation operation to perform, default: 'mean'
    Returns:
        grouped dataframe, ready for plotting via sns.heatmap(means['COLUMNAME'])
    """
    # based on: https://matthewmcgonagle.github.io/blog/2019/01/22/HeatmapBins
    cuts = pd.DataFrame({str(feature) + ' bins' : pd.cut(data[feature], ncuts) for feature in fieldsxy})
    means = data.join(cuts).groupby( list(cuts) ).agg(aggarg)
    means = means.unstack(level = 0) # Use level 0 to put 0Bin as columns.
    # Reverse the order of the rows as the heatmap will print from top to bottom.
    means = means.iloc[::-1]
    return means

**TODO** plot a heatmap of average current property prices, within the same geographic area

Note that the colormap is pretty much useless due to a few extreme values. Rather than removing them as 'outliers', please just map the values before drawing with a suitable choice of logarithm.

In [ ]:
field = 'CURRENT_PRICE'
with plt.rc_context({'figure.figsize': (10,10)}):
    pass
    # TODO -- write your code here ---
plt.xticks([], []);
plt.yticks([], []);

Please write down the **two** most interesting findings that you draw from the plot. 

**Findings**
1. [ADD TEXT]
2. [ADD TEXT]

### Optional Task 9: Further exploration

This Assignment is due while you're also working on your Blog posts. To give you enough time to do a good job on your article, we dropped a more involved Part 2.

If you want to go further after starting out with the spatial data above, have a look at the material and tutorials of Geoff Boeing's [OSMnx](https://github.com/gboeing/osmnx). It can interface with the open street map API and pull further data (such as amenities, road network, basemap to put in the background of a plot, etc.)

In case you decide to work on this and would like to share your result, include a single page (or short) PDF that contains a plot and brief paragraph explaining it. Depending on the outcome, we may showcase some of these works in class.

## Submission

You need to complete the first part by filling out this notebook. Please submit <font color="blue">A3.ipynb</font> to the CourSys activity [Assignment 3](https://courses.cs.sfu.ca/2022sp-cmpt-733-g1/+a3/).